#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 524px;
  background-color: #94d8fb;
}
.swal2 {
  background-color: rgb(107, 154, 240);
}
.buttonPlay{
  width: 90px;
  height: 70px;
  border-radius: 40px;
  font-size: 20px;
  background-color: rgb(6, 39, 255);
  color: rgb(243, 243, 243);
  box-shadow: 5px 5px 5px 2px black;
}
.buttonPlay:hover{
  box-shadow: 5px 5px 15px 2px rgb(240, 253, 51);
  background-color: rgb(140, 210, 231);
  color: rgb(39, 11, 255);
  cursor: pointer;
}
button{
  width: 280px;
  height: 50px;
  font-size: 20px;
  color: rgb(254, 0, 0);
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(251, 219, 183);
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  box-shadow: 5px 5px 5px 2px rgb(236, 253, 6);
  background-color: rgb(250, 3, 3);
  color: rgb(255, 210, 11);
}
h1{
  background-color: coral;
  border-radius: 10px;
  box-shadow:5px 5px 15px 2px black;
}
.mensaje{
  text-align: center;
}
.azul{
  color:blue
}
.verde{
  color:green
}
